Kistl.App.Projekte.Client/Rechnung.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dasz.at/Kistl/Dokumente/Rechnung/" elementFormDefault="qualified" targetNamespace="http://dasz.at/Kistl/Dokumente/Rechnung/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rechnung" nillable="true" type="tns:RechnungXML" />
  <xs:complexType name="RechnungXML">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Auftrag" type="tns:Auftrag" />
      <xs:element minOccurs="0" maxOccurs="1" name="Kunde" type="tns:Kunde" />
      <xs:element minOccurs="0" maxOccurs="1" name="Umsatz" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GetDauer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZeitEntries" type="tns:ArrayOfRechnungZeitEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Auftrag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClientDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fk_Projekt" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fk_Mitarbeiter" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Auftragsname" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fk_Kunde" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Auftragswert" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseClientDataObject" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Zeitkonto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClientDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Kontoname" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Taetigkeit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClientDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fk_Zeitkonto" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fk_Mitarbeiter" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Datum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="Dauer" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Kunde">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClientDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Kundenname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Adresse" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PLZ" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Ort" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Land" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfRechnungZeitEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechnungZeitEntry" nillable="true" type="tns:RechnungZeitEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RechnungZeitEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Taetigkeit" type="tns:Taetigkeit" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zeitkonto" type="tns:Zeitkonto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>