Kistl.API/Configuration/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dasz.at/Kistl/" elementFormDefault="qualified" targetNamespace="http://dasz.at/Kistl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KistlConfig" nillable="true" type="tns:KistlConfig" />
  <xs:complexType name="KistlConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConfigName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Server" nillable="true" type="tns:ServerConfig" />
      <xs:element minOccurs="1" maxOccurs="1" name="Client" nillable="true" type="tns:ClientConfig" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceFileLocation" type="tns:ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServerConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseProvider" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentStore" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="StartServer" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="ClientConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentStore" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="StartClient" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>