Kistl.API.Client/Service References/KistlService/KistlService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dasz.at/ZBox/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dasz.at/ZBox/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dasz.at/ZBox/Imports">
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd0" namespace="http://dasz.at/ZBox/" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Kistl.API" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKistlService_SetObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:SetObjects" />
  </wsdl:message>
  <wsdl:message name="IKistlService_SetObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_SetObjects_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetList_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetListOf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOf" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetListOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetListOf_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_FetchRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelation" />
  </wsdl:message>
  <wsdl:message name="IKistlService_FetchRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_FetchRelation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetBlobStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlobStream" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetBlobStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlobStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetBlobStream_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:Exception" />
  </wsdl:message>
  <wsdl:message name="BlobMessage">
    <wsdl:part name="parameters" element="tns:BlobMessage" />
  </wsdl:message>
  <wsdl:message name="BlobMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="MimeType" element="tns:MimeType" />
  </wsdl:message>
  <wsdl:message name="BlobResponse">
    <wsdl:part name="parameters" element="tns:BlobResponse" />
  </wsdl:message>
  <wsdl:message name="BlobResponse_Headers">
    <wsdl:part name="ID" element="tns:ID" />
  </wsdl:message>
  <wsdl:message name="IKistlService_SetBlobStream_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_InvokeServerMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeServerMethod" />
  </wsdl:message>
  <wsdl:message name="IKistlService_InvokeServerMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeServerMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_InvokeServerMethod_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:Exception" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IKistlService">
    <wsdl:operation name="SetObjects">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/SetObjects" message="tns:IKistlService_SetObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/SetObjectsResponse" message="tns:IKistlService_SetObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/SetObjectsExceptionFault" name="ExceptionFault" message="tns:IKistlService_SetObjects_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/GetList" message="tns:IKistlService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/GetListResponse" message="tns:IKistlService_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/GetListExceptionFault" name="ExceptionFault" message="tns:IKistlService_GetList_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOf">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/GetListOf" message="tns:IKistlService_GetListOf_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/GetListOfResponse" message="tns:IKistlService_GetListOf_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/GetListOfExceptionFault" name="ExceptionFault" message="tns:IKistlService_GetListOf_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchRelation">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/FetchRelation" message="tns:IKistlService_FetchRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/FetchRelationResponse" message="tns:IKistlService_FetchRelation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/FetchRelationExceptionFault" name="ExceptionFault" message="tns:IKistlService_FetchRelation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobStream">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/GetBlobStream" message="tns:IKistlService_GetBlobStream_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/GetBlobStreamResponse" message="tns:IKistlService_GetBlobStream_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/GetBlobStreamExceptionFault" name="ExceptionFault" message="tns:IKistlService_GetBlobStream_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBlobStream">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/SetBlobStream" name="BlobMessage" message="tns:BlobMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/SetBlobStreamResponse" name="BlobResponse" message="tns:BlobResponse" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/SetBlobStreamExceptionFault" name="ExceptionFault" message="tns:IKistlService_SetBlobStream_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeServerMethod">
      <wsdl:input wsaw:Action="http://dasz.at/ZBox/IKistlService/InvokeServerMethod" message="tns:IKistlService_InvokeServerMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/ZBox/IKistlService/InvokeServerMethodResponse" message="tns:IKistlService_InvokeServerMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/ZBox/IKistlService/InvokeServerMethodExceptionFault" name="ExceptionFault" message="tns:IKistlService_InvokeServerMethod_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>