Kistl.API.Client/Service References/KistlService/KistlService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Reflection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Reflection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Reflection.Cache" />
  <xs:complexType name="ArrayOfMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberInfo" nillable="true" type="tns:MemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberInfo" nillable="true" type="tns:ArrayOfMemberInfo" />
  <xs:complexType name="MemberInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Reflection.Cache" name="m_cachedData" nillable="true" type="q1:InternalCache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfo" nillable="true" type="tns:MemberInfo" />
  <xs:complexType name="ConstructorInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MethodBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConstructorInfo" nillable="true" type="tns:ConstructorInfo" />
  <xs:complexType name="MethodBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MemberInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MethodBase" nillable="true" type="tns:MethodBase" />
</xs:schema>