Kistl.API.Client/Service References/KistlService/KistlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="KistlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="KistlServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kistl.API" />
      <xsd:import schemaLocation="http://localhost:6666/KistlService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKistlService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetList_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetListOf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOf" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetListOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetListOf_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_GetObject_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_SetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SetObject" />
  </wsdl:message>
  <wsdl:message name="IKistlService_SetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_SetObject_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_FetchRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelation" />
  </wsdl:message>
  <wsdl:message name="IKistlService_FetchRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_FetchRelation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_Generate_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate" />
  </wsdl:message>
  <wsdl:message name="IKistlService_Generate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_Generate_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:Exception" />
  </wsdl:message>
  <wsdl:message name="IKistlService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IKistlService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlService_HelloWorld_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:Exception" />
  </wsdl:message>
  <wsdl:portType name="IKistlService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/GetList" message="tns:IKistlService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/GetListResponse" message="tns:IKistlService_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/GetListExceptionFault" name="ExceptionFault" message="tns:IKistlService_GetList_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOf">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/GetListOf" message="tns:IKistlService_GetListOf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/GetListOfResponse" message="tns:IKistlService_GetListOf_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/GetListOfExceptionFault" name="ExceptionFault" message="tns:IKistlService_GetListOf_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/GetObject" message="tns:IKistlService_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/GetObjectResponse" message="tns:IKistlService_GetObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/GetObjectExceptionFault" name="ExceptionFault" message="tns:IKistlService_GetObject_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/SetObject" message="tns:IKistlService_SetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/SetObjectResponse" message="tns:IKistlService_SetObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/SetObjectExceptionFault" name="ExceptionFault" message="tns:IKistlService_SetObject_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/FetchRelation" message="tns:IKistlService_FetchRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/FetchRelationResponse" message="tns:IKistlService_FetchRelation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/FetchRelationExceptionFault" name="ExceptionFault" message="tns:IKistlService_FetchRelation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/Generate" message="tns:IKistlService_Generate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/GenerateResponse" message="tns:IKistlService_Generate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/GenerateExceptionFault" name="ExceptionFault" message="tns:IKistlService_Generate_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlService/HelloWorld" message="tns:IKistlService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlService/HelloWorldResponse" message="tns:IKistlService_HelloWorld_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlService/HelloWorldExceptionFault" name="ExceptionFault" message="tns:IKistlService_HelloWorld_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KistlServiceEndpoint" type="tns:IKistlService">
    <wsp:PolicyReference URI="#KistlServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetListOf">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/GetListOf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/GetObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetObject">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/SetObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FetchRelation">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/FetchRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Generate">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/Generate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/IKistlService/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KistlService">
    <wsdl:port name="KistlServiceEndpoint" binding="tns:KistlServiceEndpoint">
      <soap12:address location="http://localhost:6666/KistlService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:6666/KistlService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>