Kistl.API.Client/Service References/KistlServiceStreams/KistlServiceStreams.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="KistlServiceStreams" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="KistlServiceStreamsEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6666/KistlServiceStreams?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6666/KistlServiceStreams?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6666/KistlServiceStreams?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:6666/KistlServiceStreams?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:6666/KistlServiceStreams?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kistl.API" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKistlServiceStreams_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_SetObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:SetObjects" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_SetObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_GetListOf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOf" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_GetListOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_FetchRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelation" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_FetchRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IKistlServiceStreams_FetchRelation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:portType name="IKistlServiceStreams">
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlServiceStreams/GetObject" message="tns:IKistlServiceStreams_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlServiceStreams/GetObjectResponse" message="tns:IKistlServiceStreams_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlServiceStreams/SetObjects" message="tns:IKistlServiceStreams_SetObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlServiceStreams/SetObjectsResponse" message="tns:IKistlServiceStreams_SetObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlServiceStreams/GetList" message="tns:IKistlServiceStreams_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlServiceStreams/GetListResponse" message="tns:IKistlServiceStreams_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOf">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlServiceStreams/GetListOf" message="tns:IKistlServiceStreams_GetListOf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlServiceStreams/GetListOfResponse" message="tns:IKistlServiceStreams_GetListOf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IKistlServiceStreams/FetchRelation" message="tns:IKistlServiceStreams_FetchRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKistlServiceStreams/FetchRelationResponse" message="tns:IKistlServiceStreams_FetchRelation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKistlServiceStreams/FetchRelationExceptionFault" name="ExceptionFault" message="tns:IKistlServiceStreams_FetchRelation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KistlServiceStreamsEndpoint" type="tns:IKistlServiceStreams">
    <wsp:PolicyReference URI="#KistlServiceStreamsEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/IKistlServiceStreams/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetObjects">
      <soap:operation soapAction="http://tempuri.org/IKistlServiceStreams/SetObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IKistlServiceStreams/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOf">
      <soap:operation soapAction="http://tempuri.org/IKistlServiceStreams/GetListOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchRelation">
      <soap:operation soapAction="http://tempuri.org/IKistlServiceStreams/FetchRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KistlServiceStreams">
    <wsdl:port name="KistlServiceStreamsEndpoint" binding="tns:KistlServiceStreamsEndpoint">
      <soap:address location="http://localhost:6666/KistlServiceStreams" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>