Zetbox.API/Configuration/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dasz.at/Zetbox/" elementFormDefault="qualified" targetNamespace="http://dasz.at/Zetbox/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="ZetboxConfig" nillable="true" type="tns:ZetboxConfig" />
  <xs:complexType name="ZetboxConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ConfigName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Server" nillable="true" type="tns:ServerConfig" />
      <xs:element minOccurs="0" maxOccurs="1" name="Client" nillable="true" type="tns:ClientConfig" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssemblySearchPaths" type="tns:AssemblySearchPaths" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServerConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ConnectionStrings" type="tns:ArrayOfDatabase" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentStore" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeGenWorkingPath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeGenOutputPath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeGenBinaryOutputPath" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeGenArchivePath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modules" type="tns:ArrayOfModule" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClientFilesLocations" type="tns:ArrayOfClientFilesLocation" />
    </xs:sequence>
    <xs:attribute name="StartServer" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfDatabase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Database" nillable="true" type="tns:Database" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Database">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Schema" type="xs:string" />
        <xs:attribute name="Provider" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Module" nillable="true" type="tns:Module" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Module">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfClientFilesLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:ClientFilesLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientFilesLocation">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Exclude" type="xs:string" />
        <xs:attribute default="false" name="Start" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ClientConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Application" nillable="true" xmlns:q1="http://microsoft.com/wsdl/types/" type="q1:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UICulture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modules" type="tns:ArrayOfModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssemblySearchPaths">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="EnableShadowCopy" type="xs:boolean" use="required" />
  </xs:complexType>
</xs:schema>