Kistl.Client.Bootstrapper/Service References/BootstrapperServiceReference/BootstrapperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BootstrapperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6666/Bootstrapper?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6666/Bootstrapper?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6666/Bootstrapper?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kistl.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBootstrapperService_GetFileInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfos" />
  </wsdl:message>
  <wsdl:message name="IBootstrapperService_GetFileInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IBootstrapperService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IBootstrapperService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IBootstrapperService">
    <wsdl:operation name="GetFileInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBootstrapperService/GetFileInfos" message="tns:IBootstrapperService_GetFileInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBootstrapperService/GetFileInfosResponse" message="tns:IBootstrapperService_GetFileInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBootstrapperService/GetFile" message="tns:IBootstrapperService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBootstrapperService/GetFileResponse" message="tns:IBootstrapperService_GetFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBootstrapperService" type="tns:IBootstrapperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileInfos">
      <soap:operation soapAction="http://tempuri.org/IBootstrapperService/GetFileInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IBootstrapperService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BootstrapperService">
    <wsdl:port name="BasicHttpBinding_IBootstrapperService" binding="tns:BasicHttpBinding_IBootstrapperService">
      <soap:address location="http://localhost:6666/Bootstrapper" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>