Kistl.Client/Service References/KistService/KistlService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kistl.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kistl.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjectType">
    <xs:sequence>
      <xs:element name="_x003C_Classname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Namespace_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectType" nillable="true" type="tns:ObjectType" />
</xs:schema>