Zetbox.API.Client/Service References/ZetboxService/ZetboxService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://dasz.at/Zetbox/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Zetbox.API" />
  <xs:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="SetObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" type="ser:guid" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://dasz.at/Zetbox/" minOccurs="0" name="notificationRequests" nillable="true" type="q1:ArrayOfObjectNotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfObjectNotificationRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://dasz.at/Zetbox/" minOccurs="0" maxOccurs="unbounded" name="ObjectNotificationRequest" nillable="true" type="q2:ObjectNotificationRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://dasz.at/Zetbox/" name="ArrayOfObjectNotificationRequest" nillable="true" type="q3:ArrayOfObjectNotificationRequest" />
  <xs:complexType name="ObjectNotificationRequest">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDs" nillable="true" type="q4:ArrayOfint" />
      <xs:element xmlns:q5="http://dasz.at/Zetbox/" minOccurs="0" name="Type" nillable="true" type="q5:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q6="http://dasz.at/Zetbox/" name="ObjectNotificationRequest" nillable="true" type="q6:ObjectNotificationRequest" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyQualifiedName" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://dasz.at/Zetbox/" minOccurs="0" name="GenericTypeParameter" nillable="true" type="q7:ArrayOfType" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="http://dasz.at/Zetbox/" name="Type" nillable="true" type="q8:Type" />
  <xs:complexType name="ArrayOfType">
    <xs:sequence>
      <xs:element xmlns:q9="http://dasz.at/Zetbox/" minOccurs="0" maxOccurs="unbounded" name="Type" nillable="true" type="q9:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="http://dasz.at/Zetbox/" name="ArrayOfType" nillable="true" type="q10:ArrayOfType" />
  <xs:element name="SetObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetObjectsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ZetboxContextExceptionMessage">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Zetbox.API" minOccurs="0" name="Exception" nillable="true" type="q11:ZetboxContextExceptionSerializationHelper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q12="http://dasz.at/Zetbox/" name="ZetboxContextExceptionMessage" nillable="true" type="q12:ZetboxContextExceptionMessage" />
  <xs:complexType name="InvalidZetboxGeneratedVersionExceptionMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q13="http://dasz.at/Zetbox/" name="InvalidZetboxGeneratedVersionExceptionMessage" nillable="true" type="q13:InvalidZetboxGeneratedVersionExceptionMessage" />
  <xs:element name="GetObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" type="ser:guid" />
        <xs:element xmlns:q14="http://dasz.at/Zetbox/" minOccurs="0" name="query" nillable="true" type="q14:Expression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Expression">
    <xs:sequence>
      <xs:element minOccurs="0" name="NodeType" type="xs:int" />
      <xs:element xmlns:q15="http://dasz.at/Zetbox/" minOccurs="0" name="Type" nillable="true" type="q15:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q16="http://dasz.at/Zetbox/" name="Expression" nillable="true" type="q16:Expression" />
  <xs:complexType name="ConditionalExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://dasz.at/Zetbox/" base="q17:Expression">
        <xs:sequence>
          <xs:element minOccurs="0" name="IfFalse" nillable="true" type="q17:Expression" />
          <xs:element minOccurs="0" name="IfTrue" nillable="true" type="q17:Expression" />
          <xs:element minOccurs="0" name="Test" nillable="true" type="q17:Expression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q18="http://dasz.at/Zetbox/" name="ConditionalExpression" nillable="true" type="q18:ConditionalExpression" />
  <xs:complexType name="UnaryExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://dasz.at/Zetbox/" base="q19:CompoundExpression">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q20="http://dasz.at/Zetbox/" name="UnaryExpression" nillable="true" type="q20:UnaryExpression" />
  <xs:complexType name="CompoundExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://dasz.at/Zetbox/" base="q21:Expression">
        <xs:sequence>
          <xs:element minOccurs="0" name="Children" nillable="true" type="q21:ArrayOfExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q22="http://dasz.at/Zetbox/" name="CompoundExpression" nillable="true" type="q22:CompoundExpression" />
  <xs:complexType name="ArrayOfExpression">
    <xs:sequence>
      <xs:element xmlns:q23="http://dasz.at/Zetbox/" minOccurs="0" maxOccurs="unbounded" name="Expression" nillable="true" type="q23:Expression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q24="http://dasz.at/Zetbox/" name="ArrayOfExpression" nillable="true" type="q24:ArrayOfExpression" />
  <xs:complexType name="ContextSourceExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://dasz.at/Zetbox/" base="q25:Expression">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q26="http://dasz.at/Zetbox/" name="ContextSourceExpression" nillable="true" type="q26:ContextSourceExpression" />
  <xs:complexType name="BinaryExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://dasz.at/Zetbox/" base="q27:CompoundExpression">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q28="http://dasz.at/Zetbox/" name="BinaryExpression" nillable="true" type="q28:BinaryExpression" />
  <xs:complexType name="LambdaExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://dasz.at/Zetbox/" base="q29:CompoundExpression">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q30="http://dasz.at/Zetbox/" name="LambdaExpression" nillable="true" type="q30:LambdaExpression" />
  <xs:complexType name="ConstantExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://dasz.at/Zetbox/" base="q31:Expression">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q32="http://dasz.at/Zetbox/" name="ConstantExpression" nillable="true" type="q32:ConstantExpression" />
  <xs:complexType name="MethodCallExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://dasz.at/Zetbox/" base="q33:CompoundExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="GenericArguments" nillable="true" type="q33:ArrayOfType" />
          <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObjectExpression" nillable="true" type="q33:Expression" />
          <xs:element minOccurs="0" name="ParameterTypes" nillable="true" type="q33:ArrayOfType" />
          <xs:element minOccurs="0" name="SerializableMethodType" nillable="true" type="q33:Type" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q34="http://dasz.at/Zetbox/" name="MethodCallExpression" nillable="true" type="q34:MethodCallExpression" />
  <xs:complexType name="ParameterExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://dasz.at/Zetbox/" base="q35:Expression">
        <xs:sequence>
          <xs:element minOccurs="0" name="Guid" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q36="http://dasz.at/Zetbox/" name="ParameterExpression" nillable="true" type="q36:ParameterExpression" />
  <xs:complexType name="MemberExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://dasz.at/Zetbox/" base="q37:CompoundExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q38="http://dasz.at/Zetbox/" name="MemberExpression" nillable="true" type="q38:MemberExpression" />
  <xs:complexType name="NewExpression">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://dasz.at/Zetbox/" base="q39:CompoundExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="Constructor" nillable="true" type="q39:SerializableConstructorInfo" />
          <xs:element minOccurs="0" name="Members" nillable="true" type="q39:ArrayOfSerializableMemberInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q40="http://dasz.at/Zetbox/" name="NewExpression" nillable="true" type="q40:NewExpression" />
  <xs:complexType name="SerializableConstructorInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://dasz.at/Zetbox/" base="q41:SerializableMemberInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParameterTypes" nillable="true" type="q41:ArrayOfType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q42="http://dasz.at/Zetbox/" name="SerializableConstructorInfo" nillable="true" type="q42:SerializableConstructorInfo" />
  <xs:complexType name="SerializableMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q43="http://dasz.at/Zetbox/" minOccurs="0" name="Type" nillable="true" type="q43:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q44="http://dasz.at/Zetbox/" name="SerializableMemberInfo" nillable="true" type="q44:SerializableMemberInfo" />
  <xs:complexType name="ArrayOfSerializableMemberInfo">
    <xs:sequence>
      <xs:element xmlns:q45="http://dasz.at/Zetbox/" minOccurs="0" maxOccurs="unbounded" name="SerializableMemberInfo" nillable="true" type="q45:SerializableMemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q46="http://dasz.at/Zetbox/" name="ArrayOfSerializableMemberInfo" nillable="true" type="q46:ArrayOfSerializableMemberInfo" />
  <xs:element name="GetObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetObjectsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" type="ser:guid" />
        <xs:element xmlns:q47="http://dasz.at/Zetbox/" minOccurs="0" name="type" nillable="true" type="q47:Type" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListOfResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" type="ser:guid" />
        <xs:element minOccurs="0" name="relId" type="ser:guid" />
        <xs:element minOccurs="0" name="role" type="xs:int" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchRelationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" type="ser:guid" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/Message" name="GetBlobStreamResult" type="q48:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlobMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/Message" name="Stream" type="q49:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="MimeType" nillable="true" type="xs:string" />
  <xs:element name="Version" type="ser:guid" />
  <xs:element name="BlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/Message" name="BlobInstance" type="q50:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ID" type="xs:int" />
  <xs:element name="InvokeServerMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" type="ser:guid" />
        <xs:element xmlns:q51="http://dasz.at/Zetbox/" minOccurs="0" name="type" nillable="true" type="q51:Type" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://dasz.at/Zetbox/" minOccurs="0" name="parameterTypes" nillable="true" type="q52:ArrayOfType" />
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="changedObjects" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q53="http://dasz.at/Zetbox/" minOccurs="0" name="notificationRequests" nillable="true" type="q53:ArrayOfObjectNotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeServerMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvokeServerMethodResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="retChangedObjects" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>