Zetbox.API.Client/Service References/ZetboxService/ZetboxService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dasz.at/Zetbox/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dasz.at/Zetbox/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dasz.at/Zetbox/Imports">
      <xsd:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd0" namespace="http://dasz.at/Zetbox/" />
      <xsd:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Zetbox.API" />
      <xsd:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:6666/ZetboxService?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZetboxService_SetObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:SetObjects" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetObjects_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetObjects_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q2:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetObjects_FKViolationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q3:FKViolationException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetObjects_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q4:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetObjects_UniqueConstraintViolationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q5:UniqueConstraintViolationException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetList_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q6:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetList_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:Exception" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetListOf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOf" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetListOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfResponse" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetListOf_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q8:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetListOf_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/System" name="detail" element="q9:Exception" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_FetchRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelation" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_FetchRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_FetchRelation_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q10:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_FetchRelation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/System" name="detail" element="q11:Exception" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetBlobStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlobStream" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetBlobStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlobStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetBlobStream_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/System" name="detail" element="q12:Exception" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_GetBlobStream_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q13:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="BlobMessage">
    <wsdl:part name="parameters" element="tns:BlobMessage" />
  </wsdl:message>
  <wsdl:message name="BlobMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="MimeType" element="tns:MimeType" />
    <wsdl:part name="Version" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="BlobResponse">
    <wsdl:part name="parameters" element="tns:BlobResponse" />
  </wsdl:message>
  <wsdl:message name="BlobResponse_Headers">
    <wsdl:part name="ID" element="tns:ID" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetBlobStream_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/System" name="detail" element="q14:Exception" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_SetBlobStream_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q15:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_InvokeServerMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeServerMethod" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_InvokeServerMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeServerMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_InvokeServerMethod_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Zetbox.API" name="detail" element="q16:InvalidZetboxGeneratedVersionException" />
  </wsdl:message>
  <wsdl:message name="IZetboxService_InvokeServerMethod_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/System" name="detail" element="q17:Exception" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IZetboxService">
    <wsdl:operation name="SetObjects">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjects" message="tns:IZetboxService_SetObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjectsResponse" message="tns:IZetboxService_SetObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjectsExceptionFault" name="ExceptionFault" message="tns:IZetboxService_SetObjects_ExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjectsConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="tns:IZetboxService_SetObjects_ConcurrencyExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjectsFKViolationExceptionFault" name="FKViolationExceptionFault" message="tns:IZetboxService_SetObjects_FKViolationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjectsInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_SetObjects_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetObjectsUniqueConstraintViolationExceptionFault" name="UniqueConstraintViolationExceptionFault" message="tns:IZetboxService_SetObjects_UniqueConstraintViolationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetList" message="tns:IZetboxService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListResponse" message="tns:IZetboxService_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_GetList_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListExceptionFault" name="ExceptionFault" message="tns:IZetboxService_GetList_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOf">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListOf" message="tns:IZetboxService_GetListOf_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListOfResponse" message="tns:IZetboxService_GetListOf_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListOfInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_GetListOf_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetListOfExceptionFault" name="ExceptionFault" message="tns:IZetboxService_GetListOf_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchRelation">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/FetchRelation" message="tns:IZetboxService_FetchRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/FetchRelationResponse" message="tns:IZetboxService_FetchRelation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/FetchRelationInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_FetchRelation_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/FetchRelationExceptionFault" name="ExceptionFault" message="tns:IZetboxService_FetchRelation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlobStream">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetBlobStream" message="tns:IZetboxService_GetBlobStream_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetBlobStreamResponse" message="tns:IZetboxService_GetBlobStream_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetBlobStreamExceptionFault" name="ExceptionFault" message="tns:IZetboxService_GetBlobStream_ExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/GetBlobStreamInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_GetBlobStream_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBlobStream">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetBlobStream" name="BlobMessage" message="tns:BlobMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetBlobStreamResponse" name="BlobResponse" message="tns:BlobResponse" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetBlobStreamExceptionFault" name="ExceptionFault" message="tns:IZetboxService_SetBlobStream_ExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/SetBlobStreamInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_SetBlobStream_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeServerMethod">
      <wsdl:input wsaw:Action="http://dasz.at/Zetbox/IZetboxService/InvokeServerMethod" message="tns:IZetboxService_InvokeServerMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://dasz.at/Zetbox/IZetboxService/InvokeServerMethodResponse" message="tns:IZetboxService_InvokeServerMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/InvokeServerMethodInvalidZetboxGeneratedVersionExceptionFault" name="InvalidZetboxGeneratedVersionExceptionFault" message="tns:IZetboxService_InvokeServerMethod_InvalidZetboxGeneratedVersionExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://dasz.at/Zetbox/IZetboxService/InvokeServerMethodExceptionFault" name="ExceptionFault" message="tns:IZetboxService_InvokeServerMethod_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>